#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
}

.square:disabled {
  cursor: default;
}

.square:hover:not(:disabled) {
  background-color: #f0f0f0;
}
